* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
}

header {
  background: rgb(245, 113, 24);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav ul li {
  display: inline;
  margin-right: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #45a049;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.content-box {
  background: rgb(255, 255, 70);
  border: 2px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-form {
  padding: 20px;
  border-radius: 5px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.contact-form button {
  margin: auto;
  padding: 10px;
  background-color: #dd2222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #58d05e;
}

footer {
  background-color: rgb(243, 101, 7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
